{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}
{% block custom_head_css_js %}
    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ action }}</h5>
                    </div>

                    <div class="ibox-content">
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                               {{ form.non_field_errors }}
                            </div>
                       {% endif %}
                       <!-- -->
                       {% for  package, time, bucket_name in file %}
                        <div class="form-group">
                            {{ package }}&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;{{ time }} &nbsp;&nbsp;&nbsp;   
                                <button  class="btn btn-primary submit_button" id="{{ bucket_name }}" type="button" onclick="addForm(this, '{{ package }}', '{{ bucket_name }}')" >{% trans '可同步' %}</button>
                                同步到桶名&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;{{ bucket_name }}
                        </div>
                            
                       
                        {% endfor %}

                        <!-- -->

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {% include "users/_select_user_modal.html" %}
{% endblock %}
{% block custom_foot_js %}
<script>
$(document).ready(function () {
    $('.select2').select2({
        closeOnSelect: false
    });
})


function addForm(oDom, package, bucket_name){
    $(oDom).attr({"disabled":"disabled"});
      $.ajax({
        url : "{% url 'cloud:aliyun-syncoss' %}",
        type : 'GET',
        dataType : 'json',
        data: {
            "file": "sync",
            "package": package,
            "bucket_name": bucket_name
            },
        success : function(data){
        $(oDom).removeAttr("disabled");
            if(data['status'] == 1){
            $("#submit_button").text("同步中");
            }
            
        }
    });
}

$(document).ready(function(){
    var timer = setInterval(function(){ajax_wx_pay_status(timer)},1000);
});

function ajax_wx_pay_status(timer) {
    $.ajax({
        url : "{% url 'cloud:aliyun-oss-syncstatus' %}",
        type : 'GET',
        dataType : 'json',
        data: {"get": "ststus"},
        success : function(data){
        
            if(data['status'] == 1){
                $(".submit_button").attr({"disabled":"disabled"});
                $(".submit_button").text("正同步到" + data['bucketname'] + "中...");
            }else{
                $(".submit_button").removeAttr("disabled");
                $(".submit_button").text("可同步");
            }
            
        }
    });
}

  </script>
{% endblock %}